integrator          = steep
nsteps              = 200000
dt                  = 0.002

nstxout             = 1000
nstvout             = 1000
nstenergy           = 1000
nstlog              = 1000

cutoff-scheme       = Verlet
ns_type             = grid
nstlist             = 10

coulombtype         = {{  cutoff_style  }}
rcoulomb            = {{  r_cut  }}

vdwtype             = {{  cutoff_style  }}
rvdw                = {{  r_cut }}

gen_vel             = yes
gen-temp            = {{  temp  }}
gen-seed            = {{  replica  }}

tcoupl              = no

pcoupl              = no

pbc                 = xyz
periodic-molecules  = yes

constraints         = all-angles
constraint-algorithm =  LINCS
