integrator               = md
nsteps                   = {{  nsteps  }}
dt                       = {{  dt  }}

comm-mode                = Linear

nstxout                  = 10000
nstvout                  = 10000
nstenergy                = 1000
nstlog                   = 1000

cutoff-scheme            = Verlet
ns-type                  = grid
nstlist                  = 10
pbc                      = xyz

vdwtype         = Cut-off
vdw-modifier    = {{  cutoff_style  }}
rvdw            = {{  r_cut  }}

coulombtype             = P3M-AD
coulomb-modifier        = {{  cutoff_style  }}
rcoulomb                = {{  r_cut }}
fourierspacing      = 0.1
ewald-rtol          = 10e-5

tcoupl                   = nose-hoover
tc-grps                  = System
tau-t                    = 1.0
ref-t                    = {{ temp }}

pcoupl                   = parrinello-rahman
pcoupltype               = isotropic
nstpcouple               = -1
tau-p                    = 10.0
compressibility          = 4.5e-5
ref-p                    = {{  refp  }}

constraints         = h-angles
constraint-algorithm = SHAKE
