integrator          = steep
nsteps              = 200000
emstep              = 0.01
emtol               = 10
dt                  = 0.002

nstxout             = 10000
nstvout             = 10000
nstenergy           = 1000
nstlog              = 1000

cutoff-scheme       = Verlet
ns_type             = grid
nstlist             = 10

vdwtype         = Cut-off
vdw-modifier    = {{  cutoff_style  }}
rvdw            = {{  r_cut  }}

coulombtype             = P3M-AD
coulomb-modifier        = {{  cutoff_style  }}
rcoulomb                = {{  r_cut }}
fourierspacing      = 0.1
ewald-rtol          = 10e-5

gen_vel             = yes
gen-temp            = {{  temp  }}
gen-seed            = {{  replica  }}

tcoupl              = no

pcoupl              = no

pbc                 = xyz
periodic-molecules  = yes

DispCorr            = {{  lrc  }}
