integrator          = steep
nsteps              = 200000
dt                  = 0.001

nstxout             = 0
nstvout             = 0
nstenergy           = 1000
nstlog              = 1000

cutoff-scheme       = Verlet
ns_type             = grid
nstlist             = 10
rcoulomb            = 0.9
rvdw                = 0.9

coulombtype         = PME
fourierspacing      = 0.16

gen_vel             = yes
gen-temp            = 300
gen-seed            = 1234

tcoupl              = no

pcoupl              = no

pbc                 = xyz
periodic-molecules  = yes

constraints         = all-bonds all-angles
constraint-algorithm = LINCS
